.container {
    padding: 0 20px;
}

.loading-color {
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}

h1,
h2 {
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

button {
    margin: 0;
    padding: 10px;
    background-color: #D88F34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a86d0e;
}

/* Style for individual movie cards */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 40px;
    row-gap: 50px;
    margin: 40px 0;
    place-items: center;




}

.movie-card {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    width: 180px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;




}

.movie-card:hover {
    transform: scale(1.05);
}


.movie-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex-grow: 1;

}


.movie-info {
    padding: 10px 10px 15px;
    background-color: #2e3a59;
    text-align: center;
    min-height: 60px;

}

.movie-info h3 {
    font-size: 16px;
    margin: 0;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Rating */
.rating {
    display: inline-block;
    background-color: #222222a8;

    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    color: #D88F34;
}





@media (max-width: 494px) {
    .genre-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrerer overskrift og knapper */
        text-align: center;
        /* Sikrer centreret tekst */
    }

}

/*Sign up/login*/
.login-form-container,
.signup-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 70px;
}

.form-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-input label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.form-input input {
    width: 100%;
    /* Inputfelterne fylder hele bredden af containeren */
    box-sizing: border-box;
    /* Sørger for at padding er inkluderet i bredden */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn,
.signup-btn {
    background-color: #2e3a59;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #1d263b;
}

.login-btn {
    padding: 10px 20px;
}